

.title{
    display: inline-block;
}

.contentSub{
    margin: 0;
    margin-top: 2%;
}
.contentTitle{
    margin-bottom: 0;
    
}
.outsideTitle{
    margin-bottom: 0;
    
}
.outsideWiki{
    margin: 0;
    margin-top: 4%;
}
.outsideNamu{
    margin: 0;
    margin-top: 4%;
}

.tileContain{
    float:left;
    margin-left: 5%;
}

.outsideContain{
    float:right;
    margin-right: 5%;
}

.plantContain{
    background-color: transparent;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
}
.plantImg{
    width: 80%; 
    background-color: transparent;
}

.overviewTitle{
    margin-left: 5%;
}
.overviewContent{
    margin-left: 5%;
    margin-right: 5%;
}

.lifeTitle{
    margin-left: 5%;
}
.lifeTimeline{
    margin-left: 5%;
    margin-right: 5%;
}
.microTitle{
    margin-left : 5%;
}

.microContain{
    background-color: transparent;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
}
.microImg{
    width: 80%; 
    background-color: transparent;
}

