<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>

    {% block scripts %}
        <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        var xhr;

        // Ajax로 등록
        function postUser() {

            var uname = document.getElementById('username_').value;
            var uage = parseInt(document.getElementById('userage_').value);

            var data = { id: 0, name: uname, age: uage };
            var jsonstr = JSON.stringify(data);
            
            alert(jsonstr);
            //return false;

            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var data = xhr.responseText;
                    var obj = JSON.parse(data);

                    var node = document.createElement("DIV");  
                    var textnode = document.createTextNode(uname + " - " + uage + " added...");
                    node.appendChild(textnode);         //기존 html 하단에 append하는 방식
                    document.getElementById("usertable").appendChild(node);

                    //alert(obj.name + " registered...");
                }
            };
            xhr.open("POST", "/users");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader("X-CSRFToken", csrftoken);

            //console.log(jsonstr);
            xhr.send(jsonstr);
        }

        // Ajax로 수정
        function putUser(elem) {
            
            var userid = parseInt(elem.getAttribute('userid'));
            var uname = document.getElementById('username_'+userid).value;
            var uage = parseInt(document.getElementById('userage_'+userid).value);

            var data = { id: userid, name: uname, age: uage }
            var jsonstr = JSON.stringify(data);

            alert(jsonstr);
            //return false;

            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var data = xhr.responseText;
                    var obj = JSON.parse(data);
                    //alert(uname + " modified...");
                    document.getElementById('username_'+userid).style.color = "#FF6600";
                    document.getElementById('userage_'+userid).style.color = "#FF6600";
                }
            };
            xhr.open("PUT", "/users");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(jsonstr);
        }


        // Ajax로 삭제
        function deleteUser(userid) {

            if (confirm("삭제 하시겠습니까?") == false) {
                return false;
            }

            var data = { id: userid, name: '', age: 0 }
            var jsonstr = JSON.stringify(data);

            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var data = xhr.responseText;
                    var obj = JSON.parse(data);

                    document.getElementById('userbox_'+userid).remove();
                    //alert(obj.result_msg);
                }
            };
            xhr.open("DELETE", "/users");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(jsonstr);
        }
    </script>
{% endblock %}

<script type="text/javascript">
    function previewFile() {
        const preview = document.querySelector('img');
        var file = document.getElementById('fileInput').files[0];
        const reader = new FileReader();
        reader.addEventListener("load", function() {
            preview.src = reader.result; // show image in <img> tag
        }, false);
        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function uploadFile(file) {
        var file = document.getElementById('fileInput').files[0];
        if (file) {
            var formData = new FormData();
            formData.append('file', file);
            fetch('/upload', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("serverMsg").innerHTML = data.message;
                })
                .catch(error => {
                    console.error(error);
                });
        }
    }
</script>
</head>
<body>

    <div style="padding:10px;">
        <a href="/">HOME</a>
    </div>

    <h1 style="padding:10px;">User list</h1>
    <div style="margin:20px 0">
        <input type="text" id="username_" value="사용자" />
        <input type="text" id="userage_" value="1" />
        <button onclick="postUser()">등록</button>
    </div>
    <div  id="usertable">
    <table width="100%" border="1" cellpadding="0" cellspacing="0">
    {% if users %}
        {% for user in users %}
        <tr style="padding:10px;height:45px;" id="userbox_{{user.id}}">
            <td align="center">{{user.id}}</td>
            <td align="center"><input type="text" id="username_{{user.id}}" value="{{user.name}}" /></td>
            <td align="center"><input type="text" id="userage_{{user.id}}" value="{{user.age}}" /></td>
            <td align="center"><a href="/users/{{user.id}}"><button>보기</button></a></td>
            <td align="center"><button userid="{{user.id}}" onclick="putUser(this)">수정</button></td>
            <td align="center"><button onclick="deleteUser({{user.id}})">삭제</button></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr style="padding:10px;border-top:solid 1px #3388cc;">
            <td>
            No user...
            </td>
        </tr>
    {% endif %}
    </table>
    </div>
    
<input type="file" id="fileInput" onchange="previewFile()"><br>
<input type="button" value="Upload Image" onclick="uploadFile()">
<p id="serverMsg"></p>
<img height="200">
</body>
</html>