.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*상단메뉴바 스타일*/
body{ 
  font-family: 'nanumsquare';
}
/*상단메뉴바 스타일*/
.black-nav{
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding :20px;
  font-weight: 600;
}

.list {
  margin-top: 30px;

  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.line {
  display: block;
  width : 50%;
  height : 2px;
  background-color: black;
  margin-left : 0;

}

.modal {

  margin-top : 20px;
  padding : 20px;
  background : #eee;
  text-align: left;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
