<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>City - detail</title>
</head>
<body>

    <div style="padding:10px;">
        <a href="/">HOME</a>
        <a href="/cities">LIST</a>
    </div>

    <h1 style="padding:10px;"><b>{{name}}</b> 시</h1>

    <div style="padding:10px;">
        <span>Time zone</span> :
        <span>{{timezone}}</span>
    </div>

    <div style="padding:10px;">
        <span>Current time</span> :
        <span>{{current_time}}</span>
    </div>

</body>
</html>